<launch>
	
  <!--arg name="manager" /--> <!-- Must be globally qualified -->
  <arg name="respawn" default="false" />
  <arg name="left" default="left" />
  <arg name="right" default="right" />

  <arg name="manager" default="nodelet_manager"/>

  <arg     if="$(arg respawn)" name="bond" value="" />
  <arg unless="$(arg respawn)" name="bond" value="--no-bond" />

<group ns="stereo">
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

  <node pkg="nodelet" type="nodelet" name="my_cam"
        args="load  uvc_camera/StereoNodelet nodelet_manager"
		respawn="$(arg respawn)" output="screen" >
    <param name="left/device" value="/dev/video1"/>
    <param name="right/device" value="/dev/video0"/>
    <param name="width" value="320" />
    <param name="height" value="240" />
  </node>
    
  <!--include file="$(find image_proc)/launch/image_proc.launch"
	   ns="$(arg left)">
    <arg name="manager" value="$(arg manager)" />
    <arg name="respawn" value="$(arg respawn)" />
  </include>

  <include file="$(find image_proc)/launch/image_proc.launch"
	   ns="$(arg right)">
    <arg name="manager" value="$(arg manager)" />
    <arg name="respawn" value="$(arg respawn)" />
  </include>

  <node pkg="nodelet" type="nodelet" name="disparity"
        args="load stereo_image_proc/disparity $(arg manager) $(arg bond)"
	respawn="$(arg respawn)" /-->

</group>
</launch>
